{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between mb-4">
    <h2>Binolar</h2>
    <a href="{{ url_for('building_new') }}" class="btn btn-primary">Yangi</a>
</div>
<div class="row">
{% for building in buildings %}
<div class="col-md-4 mb-3">
    <div class="card">
        {% if building.photo_path %}
        <img src="{{ url_for('uploaded_file', filename=building.photo_path) }}" class="card-img-top" style="height:200px;object-fit:cover;">
        {% endif %}
        <div class="card-body">
            <h5>{{ building.name }}</h5>
            <p>{{ building.address }}</p>
            <a href="{{ url_for('building_edit', id=building.id) }}" class="btn btn-sm btn-primary">Tahrirlash</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}