{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>🎉 Tabriknomalar</h2>
    </div>
</div>

<div class="row mt-4">
    {% for congrat in congratulations %}
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5>{{ congrat.occasion }}</h5>
                <p><strong>Kimga:</strong> {{ congrat.recipient_name }}</p>
                <p><strong>Sana:</strong> {{ congrat.date.strftime('%d.%m.%Y') if congrat.date else '-' }}</p>
                <p><strong>Sovg'a:</strong> {{ congrat.gift_description or '-' }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}