{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>🤵 Mehmonlar</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>F.I.O</th>
                    <th>Tashkilot</th>
                    <th>Kelgan sana</th>
                    <th>Sabab</th>
                </tr>
            </thead>
            <tbody>
                {% for guest in guests %}
                <tr>
                    <td>{{ guest.full_name }}</td>
                    <td>{{ guest.organization or '-' }}</td>
                    <td>{{ guest.visit_date.strftime('%d.%m.%Y') if guest.visit_date else '-' }}</td>
                    <td>{{ guest.visit_reason or '-' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}